body, #background {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#background {
  position: absolute;
  top: 0;
  /* max-height: 100%; */
  z-index: -1;
  background:rgb(39,83,133);
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(360deg, rgba(39,83,133,1) 12%, rgba(55,120,194,1) 65%);
}

.sections-container {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  position: relative;
  color: white;
}

.sections-container * {
  z-index: -1;
}

.sections-background {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  border-radius: 4px;
}

.button svg {
  max-height: 100%;
}

#main-data-section {
  text-align: center;
}

.main-data {
  margin: 0 auto;
  display: inline-block;
}