body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.sections-container {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  position: relative;
  color: white;
}

.sections-background {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  z-index: -1;
}

.input-group-append {
  margin-right: 10px;
}

.button svg {
  max-height: 100%;
}

#main-data-section {
  text-align: center;
}

.main-data {
  margin: 0 auto;
  display: inline-block;
}

h4 {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.humidity-title {
  text-align: center;
  margin-bottom: 0;
}

.humidity-radial {
  width: 300px;
}
